.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}
@media only screen and (max-width: 767px) {
  .carousel-item img {
    height: 200px !important;
  }
}
